includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        analyse:
            - tests/Fixtures/app/var/cache
            - tests/Fixtures/app/var/log
            - tests/Fixtures/app/config/reference.php
    symfony:
        containerXmlPath: tests/Fixtures/app/var/cache/test/SymfonyProcessManager_Tests_Fixtures_App_KernelTestDebugContainer.xml
    scanDirectories:
        - tests/Fixtures/app/var/cache/test/Symfony/Config
    scanFiles:
        - vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php
    ignoreErrors:
        -
            identifier: attribute.nonRepeatable
            path: tests/E2E/ProcessCommandTest.php
        -
            identifier: attribute.nonRepeatable
            path: tests/E2E/AutoscalerTest.php
        -
            identifier: attribute.nonRepeatable
            path: tests/E2E/MultiTransportTest.php
        -
            message: '#Call to method (arrayNode|integerNode)\(\) on an unknown class#'
            path: src/DependencyInjection/Configuration.php
